{
  "extends": "eslint-config-imweb",
  "globals": {
    "wx": false,
    "App": false,
    "Page": false,
    "getApp": false,
    "Component": false,
    "requirePlugin": false,
    "getCurrentPages": false,
    "regeneratorRuntime": true
  }
}
