{
  "bracketSpacing": true,
  "singleQuote": true,
  "jsxBracketSameLine": false,
  "trailingComma": "es5",
  "printWidth": 120,
  "overrides": [
    {
      "files": "*.wxss",
      "options": { "parser": "css" }
    },
    {
      "files": "*.wxml",
      "options": { "parser": "html" }
    },{
      "files": "*.wxs",
      "options": { "parser": "babylon" }
    }
  ]
}
